{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-push-1 col-md-10" style="font-size: 16pt;">
        <h1>Sutartys</h1>
        <table class="table table-striped table-condensed table-bordered table-hover col-md-10 ">
            <tr style="background-color: lightgray">
                <th class="col-md-6 text-center">Įmonė / Asmuo</th>
                <th class="col-md-2 text-center">Suma</th>
                <th class="col-md-2 text-center">Data</th>
                <th class="col-md-1 text-center">Terminas</th>
                <th class="col-md-1 text-center">
                    {% if orderBy['status'] is defined %}
                        {% if orderBy['status'] == 'ASC' %}
                            <a href="{{ url('sutartys', {'orderBy': '-status'}) }}">
                                <b>Statusas</b>
                            </a>
                        {% else %}
                            <a href="{{ url('sutartys', {'orderBy': 'status'}) }}">
                                <b>Statusas</b>
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="{{ url('sutartys', {'orderBy': 'status'}) }}">
                            <b>Statusas</b>
                        </a>
                    {% endif %}
                </th>
            </tr>
            {% for sutartis in sutartis %}
            <tr>
                <td class="col-md-6"> {{ sutartis.firmName }} </td>
                <td class="col-md-2 text-center"> {{ sutartis.money|number_format(2) }} €</td>
                <td class="col-md-2 text-center"> {{ sutartis.inputDate|date('Y-m-d') }}</td>
                {% if sutartis.termin % 10 == 0 or (sutartis.termin >= 10 and sutartis.termin <= 19) %} {# what if 111 metai? meh... #}
                    <td class="col-md-1 text-center"> {{ sutartis.termin }} metų</td>
                {% else %}
                    <td class="col-md-1 text-center"> {{ sutartis.termin }} metai</td>
                {% endif %}
                {% if sutartis.status == 0 %}
                    <td class="col-md-1 text-center glyphicon glyphicon-ok-sign" style="color: darkgreen;"></td>
                {% elseif sutartis.status == 1 %}
                    <td class="col-md-1 text-center glyphicon glyphicon-remove-circle" style="color: #e5b700;"></td>
                {% elseif sutartis.status == 2 %}
                    <td class="col-md-1 text-center glyphicon glyphicon-remove-sign" style="color: darkred;"></td>
                {% elseif sutartis.status == 3 %}
                    <td class="col-md-1 text-center glyphicon glyphicon-info-sign" style="color: teal;"></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
