{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
<div class="col-xs-6 col-xs-push-3 panel panel-body panel-default" xmlns="http://www.w3.org/1999/html">
    {#
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
    <div>
        <input class="form-control" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
    #}
    {# TODO: form_start fix like in new.html.twig #}
    <form action="{{ path("fos_user_registration_register") }}" method="post"/>
        <label for="fos_user_registration_form_username">{{ 'form.username'|trans }}</label>
        <input class="form-control" type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="180" pattern=".{2,}">
        <br>
        <label for="fos_user_registration_form_plainPassword_first">{{ 'form.password'|trans }}</label>
        <input class="form-control" type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required">
        <br>
        <label for="fos_user_registration_form_plainPassword_second">{{ 'form.password_confirmation'|trans }}</label>
        <input class="form-control" type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required">
        <br>
        <label for="fos_user_registration_form_email">{{ 'form.email'|trans }}</label>
        <input class="form-control" type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required">
        <br>
    <input class="btn btn-default" type="submit" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}"/>
    </form>
</div>
{% endblock %}