{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
<div class="row">
    <div class="col-xs-12 col-md-push-2 col-md-4">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form) }}
            <h1>Username</h1>
            <div class="col-xs-12">{{ form_row(form.username, {'label': false }) }}</div>
            <br><br>

            <h1>Password</h1>
            <div class="col-xs-12">{{ form_row(form.plainPassword, {'label': false}) }}</div>

            <h1>Email</h1>
            <div class="col-xs-12">{{ form_row(form.email, {'label': false}) }}</div>

            <input class="btn btn-default" type="submit" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}"/>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}